[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cffi = "*"
django = "4.1"
jsonfield = "*"
raven = "*"
psycopg2 = "2.9.3"
scrapy-tw-rental-house = {editable = true, path = "./scrapy-package"}

[dev-packages]
pre-commit = "*"

[requires]
